.w100 {
  width: 134px;
  padding: 8px 16px;
  border: 1px solid #179a48 !important;
}

@media screen and (max-width: 650px) {
  .w100 {
    width: 100px;
    padding: 6px 10px;
  }
}

.select:hover{
  background-color: #f9ee21;
}

.select:focus{
  background-color: #3f3f3f;
  color: white;
}

.date{
  padding: 6px 12px;
  border: 1px solid #179a48 !important;
}

.pos{
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}